.App {
  text-align: center;
}

.App-search-input {
  border-radius: 0;
  border: .1rem solid #e3e3e3;
  box-shadow: .1rem .2rem .3rem 0 rgba(0, 0, 0, .3);
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: .5rem;
  transition: .3s all ease;
}

.App-search-input:focus {
  box-shadow: .1rem .2rem .5rem .1rem rgba(0, 0, 0, .3);
  padding: .65rem 1rem;
}
