.Card {
  background-color: #f9e874;
  border: 1px solid #d8c960;
  box-shadow: .1rem .2rem .3rem 0 rgba(0, 0, 0, .3);
  display: inline-block;
  margin: 10px;
  padding: 5px;
}

.Card.active {

}

.Card-input {
  display: block;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  font-family: sans-serif;
  padding: .3rem .8rem;
  width: 100%;
}

.Card-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  margin-top: .8rem;
}

